<!-- START FOOTER -->
<div class="footer" style="background-image: url(/client/assets/img/bg/footer.png);  background-size:cover;">
    <div class="container">
        <div class="row footer_bg">
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="footer_logo">
                    <img src="/client/assets/img/logo.png" alt="" />
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae risus nec dui venenatis
                        dignissim.</p>
                </div>
                <div class="social_profile">
                    <ul>
                        <li><a href="#" class="f_facebook"><i class="fa fa-facebook" title="Facebook"></i></a></li>
                        <li><a href="#" class="f_twitter"><i class="fa fa-twitter" title="Twitter"></i></a></li>
                        <li><a href="#" class="f_instagram"><i class="fa fa-instagram" title="Instagram"></i></a>
                        </li>
                        <li><a href="#" class="f_linkedin"><i class="fa fa-linkedin" title="LinkedIn"></i></a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="single_footer">
                    <h4>Frequently Asked Questions</h4>
                    <ul>
                        <li><a href="#">Privacy & Security</a></li>
                        <li><a href="#">Terms of Service</a></li>
                        <li><a href="#">Communications</a></li>
                        <li><a href="#">Referral Terms</a></li>
                        <li><a href="#">Disclaimers</a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-1">
                <div class="single_footer">
                    <h4>Company</h4>
                    <ul>
                        <li><a href="#">Licenses</a></li>
                        <li><a href="#">market API</a></li>
                        <li><a href="#">Careers and job</a></li>
                        <li><a href="#">Emplois en France</a></li>
                        <li><a href="#">Jobs in Deutschland </a></li>
                    </ul>
                </div>
            </div><!--- END COL -->
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="newsletter-form">
                    <h4>Subscribe for get updates</h4>
                    <form id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate">
                        <div class="input-group input-group-lg newsletter">
                            <input type="email" name="EMAIL" class="subscribe__input" placeholder="Email Address">
                            <button type="submit" class="subs_btn">Subscribe</button>
                        </div>

                        <div id="mce-responses">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none"></div>
                        </div>
                    </form>
                </div>
            </div><!--- END COL -->
        </div><!--- END ROW -->
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="footer_copyright">
                    <p>&copy; 2026 Monoline. All Rights Reserved by <a href="https://bestwpware.com/"
                            target="_blank">Bestwpware</a></p>
                    <p>Distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a></p>
                </div>
            </div>
        </div>
    </div><!--- END CONTAINER -->
</div>
<!-- END FOOTER -->